spring:
  datasource:
    url: jdbc:postgresql://b27dbvl008.preprod.local:5432/familie-ef-mottak

familie:
  ef:
    pdfgenerator:
      url: https://familie-ef-dokgen.dev.adeo.no/

no.nav.security.jwt:
  issuer:
    selvbetjening:
      discoveryurl: https://login.microsoftonline.com/NAVtestB2C.onmicrosoft.com/v2.0/.well-known/openid-configuration?p=B2C_1A_idporten_ver1
      acceptedaudience: ${ACCEPTEDAUDIENCE}
      proxyurl: http://webproxy-nais.nav.no:8088
      cookie_name: selvbetjening-idtoken
    azuread:
      discoveryurl: https://login.microsoftonline.com/navq.onmicrosoft.com/v2.0/.well-known/openid-configuration
      accepted_audience: ${CLIENT_ID}
      proxyurl: http://webproxy-nais.nav.no:8088
      cookie_name: azure_token
  client:
    registration:
      ef-sak-client-credentials:
        resource-url: ${familie.ef.sak.url}
        token-endpoint-url: https://login.microsoftonline.com/navq.onmicrosoft.com/oauth2/v2.0/token
        grant-type: client_credentials
        scope: ${EF_SAK_SCOPE}
        authentication:
          client-id: ${CLIENT_ID}
          client-secret: ${CLIENT_SECRET}
          client-auth-method: client_secret_basic
      integrasjoner-client-credentials:
        resource-url: ${familie.ef.integrasjoner.url}
        token-endpoint-url: https://login.microsoftonline.com/navq.onmicrosoft.com/oauth2/v2.0/token
        grant-type: client_credentials
        scope: ${FAMILIE_INTEGRASJONER_SCOPE}
        authentication:
          client-id: ${CLIENT_ID}
          client-secret: ${CLIENT_SECRET}
          client-auth-method: client_secret_basic

